<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>One day, different parts in Robot Town go missing. What happens next?</h1>

    <form method="POST" action="">
        <label for="prompt_1_answer">1. What starts happening in Robot Town that makes the robots realize some of their essential robot parts are disappearing?</label><br>
        <input type="text" id="prompt_1_answer" name="prompt_1_answer"><br><br>
        <label for="prompt_2_answer">2. How do the robots feel when they discover that their parts are missing?</label><br>
        <input type="text" id="prompt_2_answer" name="prompt_2_answer"><br><br>
        <label for="prompt_3_answer">3. What do the robots do to try to find their missing parts?</label><br>
        <input type="text" id="prompt_3_answer" name="prompt_3_answer"><br><br>
        <label for="prompt_4_answer">4. What do the robots do when they find out who is taking their parts?</label><br>
        <input type="text" id="prompt_4_answer" name="prompt_4_answer"><br><br>
        <label for="prompt_5_answer">5. How do the robots ultimately recover their missing parts, and what do they learn from this experience?</label><br>
        <input type="text" id="prompt_5_answer" name="prompt_5_answer"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
